.company tr {
height: 5rem;
}

.company th {
  background-color: #B1B1B1;
  border-bottom: solid 1px #fff;
  color: #fff;
  width: 100px;
}

.company td{
  width: 560px;
  padding-left: 1rem;
  border: solid 1px #B1B1B1;
}

.company{
  border-collapse: collapse;
}

/* companyクラスの子要素であるtr要素の最後の要素であるth要素を指定　*/
.company tr:last-child th{
  border-color: #B1B1B1;
}
