html {
  font-size: 62.5%;
}

body {
  width: 980px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}

ul.top_menu {
  float: right;
}

.top_menu li {
  float: left;
  width: auto;
}

.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.top_menu li a:hover {
  text-decoration: underline;
}

.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}

.image_area{
  width: 100%;
}

.wrapper{
  margin-top: 10px;
}

.side_menu{
  width: 300px;
  float: left;
}

.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}

.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}

.banner img{
  width: 100%;
}

.banner{
  margin-top: 20px;
}

.content{
  float: left;
  height: 200px;
  background-color: #848484;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
