html {
  font-size: 62.5%;
}

body {
  width: 980px;
  margin: 0 auto;
}

/* 追記 */
ul {
  /* 余白を削除 */
  margin: 0;
  padding: 0;
}

li {
  /* リスト先頭の黒丸を削除 */
  list-style: none;
}

/* 追記 */
.header{
  background-color:#F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}

/* 追記 */
  .logo_image {
    width: 110px;
    float: left;
    margin: 0;
}

/* paddingのコードを削除し、widthを追記 */
.top_menu li {
  float: left;
  width: auto;
}

/* 浮かせて、横並び＋　項目ごとの隙間 */
.top_menu li {
  float: left;
  padding: 15px;
}

.top_menu li a {
  color: #fff;
  text-decoration: none;
}

/* 追記 */
.top_menu li a:hover {
  text-decoration: underline;
}



/* displayとpaddingを追記 */
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}

/*　float解除　*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
